body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  /*background-color: #ffffff;*/
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.social-button {
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.button:hover,
.button:focus {
  background-color: rgba(231, 66, 70, 1);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  /*background-color: #eeeeee;*/
}

.main-navigation a {
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  /*background-color: #eeeeee;*/
}

.features-list {
  list-style: none;
}

.features-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.features a {
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}


.about-us {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.description-list {
  list-style: none;
}

.description-header {
  font-weight: 700;
  text-transform: uppercase;
}

.description-item {
  line-height: 45px;
}

.statistics caption {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics-percent th {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.preview-list {
  list-style: none;
}

.preview-item {
  opacity: 0.2;
}

.preview-item:hover,
.preview-item:focus {
  opacity: 1;
}

.preview-item:active {
  opacity: 0.1;
}

.footer-contacts b {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.footer-contacts p {
  line-height: 18px;
  color: #666666;
}

.footer-social b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social {
  line-height: 22px;
  color: #444444;
}

.footer-social ul {
  list-style: none;
}

.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal-write-us label {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.write-us-modal {
  font: inherit;
  line-height: 18px;
  color: #444444;

  border: 2px solid #d7dcde;
}

.write-us-modal:hover {
  border-color: #b4b9bb;
}

.write-us-modal:focus {
  border-color: #000000;
}

.write-us-modal:invalid {
  border-color: #e74246;
}

.modal-close {
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/*Стилизация каталога*/

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filters ul {
  list-style: none;
  line-height: 20px;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  color: #000000;
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.sort h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.sort ul {
  list-style: none;
}

.sort li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort a {
  color: #000000;
}

.sort li:hover,
.sort li:focus {
  opacity: 0.6;
}

.sort li:active {
  opacity: 1;
}

.catalog-list {
  list-style: none;
}

.catalog-description {
  background-color: #eeeeee;
}

.catalog-description h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-description p {
  line-height: 18px;
  color: #666666;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item img:first-child {
  opacity: 0.1;
}

.catalog-item:hover img:first-child {
  opacity: 1;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  line-height: 18px;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 3px rgba(0, 1 ,1 , 0.1);
}

.pagination-item-current a {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

/*стилизация каталога*/

/*сеточные стили*/
html,
body {
  min-width: 1440px;
  min-height: 3213px;
}

/*шапка*/ /*навигация*/
.main-header {
  margin-bottom: 80px;
  min-height: 545px;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.site-navigation {
  width: 600px;
  margin: 0;
  padding: 0;
padding-left: 200px;
  list-style: none;
}

.main-navigation {
 width: 100%;
}

.cart {
  width: 160px;
  margin-left: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation .container {
  display: flex;
  align-items: flex-start;
}

/*навигация*/
/*слайдер*/

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item .wrapper {
  width: 380px;
}
/*слайдер  */ /*навигация*/
/*услуги*/

.services {
  margin-bottom: 80px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.services-item {
  width: 300px;
  padding-right: 100px;
}

/*услуги*/
/*описание*/

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}


.description {
  width: 660px;
}

.statistics {
  width: 360px;
}
/*описание*/
/*примеры*/

.preview-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.preview-item {
  width: 260px;
}

/*примеры*/
/*футер*/

.main-footer {
  margin-top: 80px;
}

.footer-contacts {

  background-color: #fff;
  padding: 47px 50px;
  width: 220px;
}

.main-footer img {
  margin-bottom: 69px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 260px;
  margin-right: 140px;
}

.footer-discount {
  width: 560px;
}

.main-footer .container {
  display: flex;
}
/*футер*/

/*каталог*/
/*шапка*/

.inner-page .main-header {
  min-height: 355px;
  margin-bottom: 55px;
}
/*шапка*/
/*фильтр*/

.filter {
  width: 260px;
  min-height: 780px;
}

/*фильтр*/
/*сортировка*/
.sort {
  width: 760px;
  display: flex;
}

.sort h3 {
  width: 160px;
  margin-right: 240px;
  padding: 0;
  margin: 0;
}
.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sort-arrows {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/*сортировка*/
/*каталог*/

.catalog {
  width: 760px;
  min-height: 1910px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

/*каталог*/
/*пагинатор*/

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*пагинатор*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
