body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  /*background-color: #ffffff;*/
}

a {
  text-decoration: none;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  /*vertical-align: middle;*/
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.social-button {
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.button:hover,
.button:focus {
  background-color: rgba(231, 66, 70, 1);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.button-red {
  width: 160px;
}
.button-green {
  background-color: #00ca74;
  width: 160px;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
  width: 160px;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.main-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-item h3 {
  max-width: 560px;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  letter-spacing: 0.1px;
}

.features a {
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.features-item p {
  line-height: 24px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.services-list {
  list-style: none;
}
.services-item img {
  margin-bottom: 18px;
}
.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.services-item p {
  max-width: 260px;
  margin: 0;
  margin-bottom: 32px;
}

.about-us {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  margin: 0;
margin-top: 35px;
margin-bottom: 32px;
}

.description p:nth-child(3) {
  margin: 0;
  margin-bottom: 39px;
}


.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-item {
  margin-left: 36px;
  position: relative;
    line-height: 48px;
}

.description-item::before {
  position: absolute;

  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 23px;
  left: -35px;

}
.description-header {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.statistics {
  width: 360px;
}

.statistics-list {
  margin-top: 29px;
  width: 100%;
  border-collapse: collapse;
}

.statistics caption {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.statistics-list td {
margin: 0;
padding: 0;
  width: 33.33333%;
}
.statistics-percent {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}
.statistics-percent sup {
  font-size: 28px;
}

.statistics-description td{
padding-top: 20px;
line-height: 18px;
}
.preview-list {
  list-style: none;
}

.footer-contacts b {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.footer-contacts p {
  line-height: 18px;
  color: #666666;
}

.footer-social b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social {
  line-height: 22px;
  color: #444444;
}

.footer-social ul {
  list-style: none;
}

.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal-write-us label {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.write-us-modal {
  font: inherit;
  line-height: 18px;
  color: #444444;

  border: 2px solid #d7dcde;
}

.write-us-modal:hover {
  border-color: #b4b9bb;
}

.write-us-modal:focus {
  border-color: #000000;
}

.write-us-modal:invalid {
  border-color: #e74246;
}

.modal-close {
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/*Стилизация каталога*/

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filters ul {
  list-style: none;
  line-height: 20px;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.sort h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  opacity: 0.3;
}

.sort a {
  color: #000000;
}

.sort li:hover,
.sort li:focus {
  opacity: 0.6;
}

.sort li:active {
  opacity: 1;
}

.catalog-list {
  list-style: none;
}

.catalog-description {
  background-color: #eeeeee;
}

.catalog-description h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-description p {
  line-height: 18px;
  color: #666666;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item img:first-child {
  opacity: 0.1;
}

.catalog-item:hover img:first-child {
  opacity: 1;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.6);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1 ,1 , 0.1);
}

.pagination-item-current a {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

/*стилизация каталога*/

/*сеточные стили*/
html,
body {
  min-width: 1440px;
  min-height: 2476px;
}

/*шапка*/ /*навигация*/
.main-header {
  min-height: 545px;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  margin-right: 34px;
  margin-bottom: 10px;
  padding: 0;
letter-spacing: 0.2px;
  list-style: none;

}

.main-navigation {
  width: 100%;
}

.cart {
  position: relative;

  max-width: 160px;
  margin-bottom: 10px;
  padding-left: 50px;
}


.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 114px;
}

/*навигация*/
/*слайдер*/

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;
}


.features-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93.3% 18px;
}

.features-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 99.9% 1px;
}

.features-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 99.91% 19px;
}
.features {
  position: relative;
}

.features-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  z-index: 1000;

  width: 160px;
  height: 19px;
  margin-left: -80px;

  text-align: center;
}

.features-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 7px;

  vertical-align: top;

  background: white;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .features-controls label[for="btn-1"],
#btn-2:checked ~ .features-controls label[for="btn-2"],
#btn-3:checked ~ .features-controls label[for="btn-3"] {
  background: #c1c1c1;
}
#btn-1:checked ~ .features-list .features-item:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .features-list .features-item:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .features-list .features-item:nth-child(3) {
  display: block;
}

/*слайдер  */ /*навигация*/
/*услуги*/

.services {
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 80px 0;

  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

/*услуги*/
/*описание*/

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 61px;

  border-bottom: 2px solid #eeeeee;

}


.description {
  width: 660px;
}

.statistics {
  width: 360px;
}
/*описание*/
/*примеры*/
.preview {
  border-bottom: 2px solid #eeeeee;
}
.preview-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
margin-bottom: -6px;
  list-style: none;

}

.preview-item {
  width: 300px;
  height: 180px;
    position: relative;
    display: block;
}

.preview-item:first-child,
.preview-item:last-child {
  width: 260px;
}

.preview-item:first-child {
  padding-top: 6px;
  padding-right: 20px;
}
.preview-item:last-child {
  padding-top:2px;
  padding-left: 20px;
}
.preview-item:not(:nth-child(4n))::after {
content: "";
position: absolute;
width: 2px;
height:52px;
background-color: #eeeeee;
right: -1px;
top: 65px;
}

.preview-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0.2;
}

.preview-item a:hover,
.preview-item a:focus {
  opacity: 1;
}
.preview-item a:active {
  opacity: 0.1;
}
/*примеры*/
/*футер*/

.main-footer {
  margin-top: 80px;
}

.footer-contacts {
  width: 220px;
  padding: 47px 50px;

  background-color: #ffffff;
}

.main-footer img {
  margin-bottom: 69px;
}
.footer-social {
  display: flex;
}
.footer-social ul {
  display: flex;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}
.footer-social li {
  margin-right: 13px;
}

.footer-discount {
  width: 560px;
}

/*футер*/

/*каталог*/
/*шапка*/

.inner-page .main-header {
  min-height: 355px;
  margin-bottom: 55px;
}
/*шапка*/
/*фильтр*/

.filter {
  width: 260px;
  min-height: 780px;
}

/*фильтр*/
/*сортировка*/
.sort {
  display: flex;
  width: 760px;
}

.sort h3 {
  width: 160px;
  margin: 0;
  margin-right: 240px;
  padding: 0;
}
.sort-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-arrows {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

/*сортировка*/
/*каталог*/

.catalog {
  width: 760px;
  min-height: 1910px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}
.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

/*каталог*/
/*пагинатор*/

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
/*пагинатор*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/*декоративные элементы*/

/*.services-item img {
  width: 100%;
  height: auto;
}*/
